{% extends "layout.html" %}
{% block content %}

    <section>
        <img src="https://rice.bootcampcontent.com/Rice-Coding-Bootcamp/RICEHOU201811DATA2/raw/master/class-tth/11-Web/hw/Instructions/Images/landing-lg.png" height=500 width=500>
    </section>
     <div class="ui-widget">
    <select >
    <option value="Precipitation">Precipitation</option>
    <option value="Stations">Stations</option>
    <option value="Temperature Observations">tobs</option>
    <option value="groups">groups</option>
    </select>
    <input id="user_api" type="submit" value="Search">
    </div>
{% endblock content %}