<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
 <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
     <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet"  type="text/css" href="../static/css/main.css">
    {% if title  %}
        <title> Dashboard App - {{ title }}</title>
    {% else %}
        <title>Dashboard</title>
    {% endif%}
    { { nav.Site_Navbar.render() } }
</head>
<body>
    <nav class="navbar-nav" >
    </nav>
    <header class="site-header">
        <form action="{{url_for('form')}}" name="page_jump" method="POST">
            <select name="page_selection" >
            <option value="visual_1">visual_1</option>
            <option value="visual_2">visual_2</option>
            <option value="visual_3">visual_3</option>
            <option value="visual_4">visual_4</option>
            <option value="comparisons">comparisons</option>
            <option value="data">data</option>
            </select>
            <input id="page_select" type="submit" value="jump">
            </form>
    </header>
      {% block content %}{% endblock %}

</body>
</html>