{% extends "layout.html" %}
{% block content %}
    <article class="media content-section">
    <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2" href="https://www.linkedin.com/in/raphael-vasquez-9b20b3b5">just text</a>
             <small class="text-muted">American Statistical Association, past Chair of the Joint MAA-ASA Committee</small>
        </div>
        <h2><a class="article-title">AuthorBio</a></h2>
    </div>
    <h3><strong>About Me</strong></h3>
        <p>
            <strong>Raphael J Vasquez</strong>
            <strong>June 14, 1981 </strong>
            <strong>Austin, Texas</strong>
        </p>
    </article>

{% endblock content %}