{% extends "layout.html" %}
{% block content %}
    <div class="buffer-break" >
    </div>
    <div class="container">
    <div class="slick-row">
     <article class="media content-section">
            <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2" href="https://www.linkedin.com/in/raphael-vasquez-9b20b3b5">just text</a>
                     <small class="text-muted">American Statistical Association, past Chair of the Joint MAA-ASA Committee</small>
                </div>
        <h3><strong><a class="article-title">AuthorBio</a></strong></h3>
              <p class="article-content">She is a member of the Committee on the Undergraduate Program in Mathematics of the Mathematics Association of America,
                  and chairs the MAA subcommittee writing the guidelines for the future of Intro Stats courses.
                  She won the J. Calvin Keene faculty award at St. Lawrence University.
                  She is a member of the Calculus Consortium and is a co-author on Hughes-Hallett's Calculus and Applied Calculus,
                  Connally's Functions Modeling Change, and McCallum's Algebra and Multivariable Calculus texts.
                  She is passionate about helping students succeed in, and enjoy, introductory courses in statistics and mathematics.
                  She feels very lucky to be writing this book with her family!
              </p>
        </div>
      </article>
    </div>
{% endblock content %}